@import 'tailwindcss';


:root {
  --primary-light: #360abc;
  --accent: #4012ab;
  --text: #e2e8f0;
  --text-secondary: #94a3b8;
  --card-bg: #0F172A;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

:root {
  --primary-light: #a78bfa;
  --accent: #8b5cf6;
  --text: #e2e8f0;
  --text-secondary: #94a3b8;
  --card-bg: #1e293b;
}

/* Custom heartbeat animation */
@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1.05); }
  50% { transform: scale(1); }
  75% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.animate-heartbeat {
  animation: heartbeat 5.5s ease-in-out infinite;
}

/* In globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
  background-color: #020618;
}
.particles-wp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}







.nav-link {
  position: relative;
  font-size: 1.125rem; /* text-lg */
  color: white;
  padding-bottom: 4px;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #00ffcc; /* Customize your underline color */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}









.ess:hover {

    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    border-color: rgba(139, 92, 246, 0.3);
}

.ess::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, var(--primary), var(--accent));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}








@keyframes swap-e-1 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(0.75rem, -1rem); /* right and up */
  }
  66% {
    transform: translate(3rem, 0);
  }
  100% {
    transform: translate(3rem, 0);
  }
}

@keyframes swap-e-2 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(-0.75rem, 1rem); /* left and down */
  }
  66% {
    transform: translate(-3rem, 0);
  }
  100% {
    transform: translate(-3rem, 0);
  }
}

.animate-swap-e-1 {
  animation: swap-e-1 0.7s ease-in-out forwards;
}

.animate-swap-e-2 {
  animation: swap-e-2 0.7s ease-in-out forwards;
}
